/* Core Styles */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Arial", "Helvetica", sans-serif;
	background-color: rgb(60, 60, 60);
	color: #000;
	line-height: 1.2rem;
	z-index: -2;
	max-width: 1600px;
}

header::after {
	position: absolute;
	top: -350px;
	content: "";
	/*background-color: #047aed;*/
	background-image: linear-gradient(to bottom, #047aed, #6c08a2);
	background-image: -moz-linear-gradient(to bottom, #047aed, #6c08a2);
	background-image: -webkit-linear-gradient(to bottom, #047aed, #6c08a2);
	height: 120%;
	width: 100%;
	z-index: -1;
	transform: skewY(-35deg);
}

h1 {
	margin: 50px 0;
	text-align: center;
	color: #fff;
	font-size: 2.3rem;
	line-height: 2rem;
}

h2, h3, h4, h5, h6 {
	margin: 20px 0;
	text-align: center;
	line-height: 1.6rem;
}

blockquote {
	margin: 20px 0;
	padding-left: 30px;
}

p {
	padding-left: 15px;
	padding-right: 15px;
}

a {
	text-decoration: none;
	color: #007f7f;
}

a:hover {
	text-decoration: underline;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

main .container {
	display: grid;
	grid-template-areas: "navbar html"
						 "navbar berners1"
						 "navbar berners2";
	grid-template-columns: 1fr 3fr;
	grid-template-rows: repeat(3, auto);
	grid-gap: 20px;
}

.navbar {
	grid-area: navbar;
	border-radius: 10px;
	box-shadow: -3px 4px 8px #000;
	transition: transform 0.3s ease-in-out;
	background-color: #fff;
}

.navbar a, .navbar h2 {
	padding-left: 15px;
	padding-right: 15px;
}

.html {
	grid-area: html;
	border-radius: 10px;
	box-shadow: 3px 4px 8px #000;
	transition: transform 0.3s ease-in-out;
	margin-bottom: 20px;
	background-color: #fff;
}

.html:hover, .berners1:hover, .berners2:hover {
	transform: translateY(-5px);
}

.berners1 {
	grid-area: berners1;
	border-radius: 10px;
	box-shadow: 3px 5px 8px #000;
	transition: transform 0.3s ease-in-out;
	margin-bottom: 20px;
	background-color: #fff;
}

.berners2 {
	grid-area: berners2;
	border-radius: 10px;
	box-shadow: 3px 5px 8px #000;
	transition: transform 0.3s ease-in-out;
	background-color: #fff;
}

footer {
	width: 100%;
	background-color: #1b1b1b;
	color: #fff;
	margin-top: 30px;
}

/* Utilities */

.underline {
	text-decoration: underline;
}

/* More Specific Styles */

.html p {
	margin: 15px 0;
}

footer .container {
	height: 100%;
}

footer .container p {
	padding: 10px 0;
	font-size: 1.1rem;
}

.navbar * {
	text-align: left;
}

.navbar a {
	display: inline-block;
	padding-bottom: 5px;
}

/* Media Queries */

@media only screen and (max-width: 968px) {

	main .container {
		display: block;
		margin: 0 5%;
	}

	h2, h3 {
		padding: 15px;
	}

	blockquote {
		padding-bottom: 20px;
	}

	.navbar a {
		display: block;
	}

	.navbar a:last-child {
		padding-bottom: 15px;
	}

	footer p {
		text-align: center;
	}
}

@media only screen and (max-width: 1150px) {
	main .container {
		margin: 0 5%;
	}
}